.list-container{
    width:80%;
    margin: 40px auto;
    text-align:center;
    font-family: 'Kaushan Script', cursive;
    color:rgb(29, 22, 16);
}



.incomplete-task{
   font-size:20px;
}
.complete-task{
  font-size:22px;
  color:rgb(161, 24, 24);
  text-decoration: line-through;

}