.to-do-form-container{
    width:80%;
    margin:20px auto;
    
}
form{
    display:flex;
    flex-direction: column;
    
}
input{
    margin:10px;
    height:40px;
    border: 1px solid #D4B48C;
    background-color:rgb(248, 248, 248);
    border-radius:2px;
    font-family: 'Kaushan Script', cursive;
    font-weight:bold;
    font-size:20px;
    color:black;
}
button{
    margin:5px auto;
    width:40%;
    height:40px;
    cursor:pointer;
    background-color:rgb(182, 152, 116);
    border:none;
    color:rgba(248, 248, 248, 0.932);;
    border-radius:2px;
    font-family: 'Kaushan Script', cursive;
    font-weight:bold;
    font-size:18px;
}
